.border-limit {
  position: relative;
}
.intr-group {
  overflow: auto;
  width: 1132px;
  height: 174px;
  margin-top: 172px;
  margin-left: 150px;
  
  background-color: #1D1D1D;
  overflow: hidden;
}
.intr-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Intr-left {
  width: 436px;
  height: 174px;
  font-size: 54px;
  font-weight: 600;
  overflow: hidden;
  color: white;
}

.border {
  border: 1px solid #6A6A6A;
  height: 190px;
  position: absolute;
  z-index: 1;
  left: 50%;
}

.Intr-right {
  width: 475px;
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topic {
  font-weight: 600;
  font-size: 32px;
  color: white;
}

.topic-debreif {
  font-weight: 500;
  font-size: 18px;
  color: white;
  opacity: 30%;
}
